body.dark-mode {
  --colormain: #ff0040;
  --colorsec: #000000;
  --colorsec2: #35051e;
  --colormain2: #b31164;
  --colorter: #d6d6d6;
}

body {
  --colormain: #000000;
  --colorsec: #ff0040;
  --colorsec2: #b31164;
  --colormain2: #35051e;
  --colorter: #d6d6d6;
  margin: 0;
  padding: 0rem;
  overflow-x: hidden;
}

:root{
  height: min-content;
}


.panelTecno {
  display: flex;
  width: 40rem;
  -webkit-user-select: none; /* Safari/Chrome */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge viejo */
  user-select: none;
}

.tituloTecno {
  width: 13%;
  height: 10%;
  margin-top: 13.8rem;
}

.tituloTecno h1 {
  font-size: 1.75rem;
  letter-spacing: -0.1rem;
  transform: rotate(270deg) scaleY(2.5);
}

.tecno-container {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columnas iguales */
  gap: 1rem; /* espacio entre filas y columnas */
  padding: 1rem;
  padding-bottom: 0;
  position: relative;
  margin-top: 2rem; /* para los divs absolutos cuando se expandan */
}

.tecno {
  background: black;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  flex-direction: column;
  gap: 0rem;
  height: 5rem;
  padding: 0.3rem;
  width: 5rem;
  padding: 1rem;
  border: 7px solid var(--colorsec);
}

.tecno-label {
  font-size: 1rem;
  letter-spacing: -0.1rem;
  margin: 0;
  transform: scaleY(1.4);
  margin-top: 0.5rem;
  color: #d6d6d6;
}

.tecno .icono {
  height: 3.5rem;
  filter: invert(0.8);
}

.tecno.active {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: start;
  gap: -2rem;
  justify-content: start;
  flex-direction: row;
  padding: 0;
  top: 1.4rem;
  left: 4.7rem;
  width: 23rem;
  height: 13rem;
  z-index: 10;
}

.tecno.hidden {
  transform: scale(0);
  opacity: 0;
  pointer-events: none;
}

.tecno.active .icono {
  grid-area: 1 / 1 / 6 / 2;
  align-items: center;
  margin: 0;
  margin-left: -3.3rem;
  margin-right: -3rem;
  margin-top: 1.5rem;
  height: 10rem;
  clip-path: inset(0 0 0 33%);
}

.tecno.active .tecno-label {
  font-size: 2.4rem;
  grid-area: 1 / 2 / 2 / 4;
  text-align: end;
  letter-spacing: -0.3rem;
  padding: 0;
  margin: 0;
  margin-top: 1rem;
  margin-left: 1.5rem;
}

.tecno-info {
  display: none;
  padding: 0;
  width: 13rem;
}

.tecno.active .tecno-info {
  display: flex;
  align-items: center;
  justify-content: start;
  text-align: end;
  justify-content: center;
  height: 7.1rem;
  color: var(--colorter);
  font-size: 0.8rem;
  line-height: 0.8rem;
  margin-left: 1.5rem;
  grid-area: 2 / 2 / 4 / 4; /* se muestra solo cuando el div tiene la clase active */
}

.stars {
  display: none;
  padding: 0;
  width: 3.4rem;
}

.tecno.active .stars {
  display: block;
  flex-direction: column;
  grid-area: 1 / 4 / 4 / 5;
  font-size: 1rem;
}

.tecno.active .estrella1 {
  height: 3.1rem;
  width: 3.1rem;
  margin-bottom: -1rem;
  margin-left: 0.5rem;
}
